footer{
    background-color: #2D363C;
    margin-top: 100px;
}

.footer-container{
    width: 80%;
    height: 75px;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-link-item{
    color: #fff;
    transition: ease 0.5s;
    margin-right: 10px;
}

.footer-link-item:hover{
    color: red;
}