*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;
}

li{
    list-style: none;
}

.App{
    background-color: #F8F8F8;
}

/*header*/

.navbar{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

nav{
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo-container{
    display: flex;
    gap: 8px;
    align-items: center;
}

.fa-bars{
    display: none;
}

.logo{
    color: #000;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 20px;
}

/* header > profile*/

.profile{
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile a{
    display: inline-block;
    padding: 4px 24px;
    background-color: #E02828;
    border-radius: 5px;
    color: #fff;
}

/*header > img*/

.mainImg{
    margin-top: 5px;
    width: 100%;
}

/*search*/

.search-section{
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
}

.search-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 66px;
}

.content{
    margin-left: 20px;
}

.content-header{
    font-size: 24px;
    margin-bottom: 20px;
}

.content-text{
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
}

.btn-search{
    display: inline-block;
    background-color: #E02828;
    padding: 4px 24px;
    border-radius: 5px;
    margin-top: 105px;
}

/*footer*/

footer{
    background-color: #2D363C;
    margin-top: 100px;
}

.footer-container{
    width: 80%;
    height: 75px;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-link-item{
    color: #fff;
    transition: ease 0.5s;
    margin-right: 10px;
}

.footer-link-item:hover{
    color: red;
}
